#about {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: #ededed;
  padding-top: 100px;
  background-image: linear-gradient(0deg, #fff 50%, #F4F4F4 50%);
  }

  img img-circle {
    width: 150px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);

  a {
    color: rgba(0,0,0,0.25);
    font-weight: bold;
    letter-spacing: -0.5px;
    font-size: 15px;
  }


  .fa-heart {
    color: #D23333;
  }

  ul {
    text-align: center;
  }

  .list-inline {
    padding-left: 0;
  }
}

.fa-wifi{
  color: #D23333;
}

#about > .about-content h2 {
    font-size: 17px;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
  }
  #about > .about-content > h1 {
    font-size: 30px !important;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 0;
    color: rgba(0,0,0,0.7);
  }


  #about > .about-content .li  p {
    font-size: 9;
  }
